<!doctype html>
<html ng-app="autocomplete">
<head>
<meta charset="UTF-8"> 
	<title></title>  
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="script.js" type="text/javascript"></script>
    
</head>  
<body ng-controller="controller">  
<div class="container">
    <h1 align="center">AutoComplete using AngularJS</h1>
    <hr/>
    <div>
        <label>Select Stock Name</label>
        <input type="text" name="textSearch" ng-model="textSearch" ng-keyup="getAutoCompleteSuggestion($event)" placeholder="Search your stock" class="form-control" ng-keydown="renderDisplayResult($event)"/>
        <ul class="list-group">
            <li class="list-group-item list-group-item-success" ng-repeat="stockinfo in searched_stocks_list" ng-click="getStockInfo(stockinfo.id)">{{stockinfo.symbol}}</li>
        </ul>
        <br/>
        
    </div>

    
    <div ng-hide="boolOnEnter">
        <div ng-repeat="stock in results">
            <div class="stock">
                <div class="stock_container">
                    <p class="" style="font-size: 18px; text-decoration: underline;">{{stock.companyName}}:</p>
                    <div class="stock_details">
                        <div class="stock_details_industry">Industry: {{stock.industry}}</div>
                        <div class="stock_details_isincode">IsinCode: {{stock.isinCode}}</div>
                        <div class="stock_details_series">Series: {{stock.series}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div ng-hide="boolOnClick">
        <div class="stock">
            <div class="stock_container">
                <p class="" style="font-size: 18px; text-decoration: underline;">{{stockInfo.companyName}}:</p>
                <div class="stock_details">
                    <div class="stock_details_industry">Industry: {{stockInfo.industry}}</div>
                    <div class="stock_details_isincode">IsinCode: {{stockInfo.isinCode}}</div>
                    <div class="stock_details_series">Series: {{stockInfo.series}}</div>
                </div>
            </div>
        </div>
    </div>
    
    
</div>
</body>  
</html>  
 